# Working with variables and expressions

In [4]:
#variable declaration
a=10
b=5.3
c="hello python"

In [18]:
a,b,c

(10, 5.3, 'hello python')

In [19]:
type(a),type(b)

(int, float)

In [23]:
a=str(b)+c
print(a)

5.3hello python

In [25]:
food=["biryani",300,"chacolate",100]
food

['biryani', 300, 'chacolate', 100]

In [53]:
l2=["archana",100,"sowjanya",90,"dinesh",1]
l2

['archana', 100, 'sowjanya', 90, 'dinesh', 1]

In [30]:
food+l2

['biryani', 300, 'chacolate', 100, 'archana', 100, 'sowjanya', 90, 'dinesh', 1]

In [37]:
food+l2[1:10]

['biryani', 300, 'chacolate', 100, 100, 'sowjanya', 90, 'dinesh', 1]

In [72]:
l2[6]=["potter",1023]

In [69]:
l2

'dinesh'

In [97]:
del l2[6:]

In [111]:
l2.append("sowji")

In [113]:
l2.pop()

'sowji'

In [129]:
l3=['a','b','c','d','a',]
l3.count('a')

2

In [131]:
l4=[]
for i in l3:
    l4.append(str(i))
l4.sort(reverse = True)
l4

['d', 'c', 'b', 'a', 'a', '3', '2', '1']

In [140]:
max(l4)

'd'

In [150]:
t1=(2,1,4,3,"archana","parth")

t2=("dinesh","sowji")

t1=t1+t2
t1

(2, 1, 4, 3, 'archana', 'parth', 'dinesh', 'sowji')

In [163]:
x,y,z=1,2,(3,4)
(y,x)=(x,y)
x,y

(2, 1)

In [186]:
d1={"a":1,
   "b":3,
   "c":2}
d1

{'a': 1, 'b': 3, 'c': 2}

In [215]:
emp={"emp_id":863,
    "name":"dinesh",
    "job":"data analyst",
    "salary":99999999,
    }

In [216]:
emp.clear()

In [218]:
emp

{}

In [251]:
str1="123"
str1

'123'

In [261]:
str2=""
str1+str2
str1.isnumeric(),str1.isalpha(),str1.isalnum()

(True, False, True)

In [264]:
str2="hello world this is archana khatram sowjanya dodda"

## Sets

In [268]:
a=set([1,2,3,4,4,4,5])
b=set([4,5,6,6,7])
a.union(b),a.intersection(b)

({1, 2, 3, 4, 5, 6, 7}, {4, 5})

In [271]:
a-b

{1, 2, 3}

In [276]:
c=a.intersection(b)
c.issubset(a)

True

In [278]:
c=a.union(b)
c.issuperset(a)

True

## frozen

In [4]:
a=set([1,2,3,4])
b=frozenset([3])

In [5]:
a.add(b)

In [6]:
a

{1, 2, 3, 4, frozenset({3})}

In [17]:
s=frozenset(['174','25','370','186','257'])
s

frozenset({'174', '186', '25', '257', '370'})