In [60]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [61]:
os.chdir("C:\\Users\\Archana\\Desktop\\datasets")

In [62]:
d=pd.read_csv("soccer.csv")
d.head(5)

,match_date,home_country,away_country,home_score,away_score,match_type,match_city,match_country,home_team_result
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,Draw
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,Win
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,Win
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,Draw
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,Win

In [63]:
d.dtypes

match_date           object
home_country         object
away_country         object
home_score          float64
away_score          float64
match_type           object
match_city           object
match_country        object
home_team_result     object
dtype: object

In [64]:
d.columns

Index(['match_date', 'home_country', 'away_country', 'home_score',
       'away_score', 'match_type', 'match_city', 'match_country',
       'home_team_result'],
      dtype='object')

In [65]:
d.isna().sum()

match_date           0
home_country         4
away_country         8
home_score           8
away_score           7
match_type          13
match_city          10
match_country        1
home_team_result     0
dtype: int64

In [66]:
d.describe()

         home_score    away_score
count  38677.000000  38678.000000
mean       1.728986      1.194529
std        1.722210      1.397185
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     22.000000

In [67]:
d["match_type"].value_counts()

Friendly                                16196
FIFA World Cup qualification             7071
UEFA Euro qualification                  2330
African Cup of Nations qualification     1558
FIFA World Cup                            836
Copa Am√©rica                              786
AFC Asian Cup qualification               711
African Cup of Nations                    638
CFU Caribbean Cup qualification           606
CECAFA Cup                                600
Merdeka Tournament                        504
British Championship                      501
Gulf Cup                                  333
AFC Asian Cup                             319
Gold Cup                                  297
UEFA Euro                                 286
Nordic Championship                       283
AFF Championship                          267
COSAFA Cup                                252
CFU Caribbean Cup                         251
Am√≠lcar Cabral Cup                        235
King's Cup                                234
South Pacific Games                       198
African Nations Championship              184
UNCAF Cup                                 164
Korea Cup                                 158
Confederations Cup                        140
International Cup                         127
SAFF Cup                                  124
CCCF Championship                         123
                                        ...
Copa del Pac√≠fico                          19
Copa Rio Branco                            18
Simba Tnmt.                                17
Copa Oswaldo Cruz                          16
Copa Juan Pinto Dur√°n                      16
Copa Carlos Dittborn                       16
Millennium Cup                             15
Copa Premio Honor Uruguayo                 15
UNIFFAC Cup                                15
Dunhill Cup                                15
Nile Basin Tnmt.                           14
GaNEFo                                     14
Copa Artigas                               13
Jordan International Tournament            13
Copa Premio Honor Argentino                12
King Hassan II Tournament                  12
Rous Cup                                   11
SKN Football Festival                      11
Atlantic Cup                               11
Tournoi de France                          10
Copa Bernardo O'Higgins                    10
UAFA Cup qualification                      9
VFF Cup                                     9
NAFU Championship                           7
Mundialito                                  7
Copa Ram√≥n Castilla                         6
Nations Cup                                 6
Copa F√©lix Bogado                           6
Dragon Cup                                  4
OSN Cup                                     4
Name: match_type, Length: 95, dtype: int64

In [68]:
d['match_type'].fillna('Friendly',inplace=True)

In [69]:
d.isna().sum()

match_date           0
home_country         4
away_country         8
home_score           8
away_score           7
match_type           0
match_city          10
match_country        1
home_team_result     0
dtype: int64

In [70]:
d['match_city'].value_counts()

Kuala Lumpur          567
Bangkok               421
Doha                  413
Budapest              375
London                372
Montevideo            343
Vienna                329
Copenhagen            319
Kuwait                317
Oslo                  314
Buenos Aires          313
Glasgow               309
Seoul                 288
Santiago              287
Belfast               284
Dublin                282
Kampala               277
Nairobi               275
Lima                  261
Helsinki              248
Brussels              245
San Jos√©              244
Teheran               239
Port of Spain         237
Solna                 235
Jakarta               233
Kingston              233
Cairo                 231
Muscat                231
Sofia                 229
                     ...
Jounieh                 1
Savanna-la-Mar          1
Davidson                1
Biel                    1
Gurjaani                1
Kingston upon Hull      1
Grenville               1
Gentilly                1
Cutral C√≥               1
Charkiv                 1
Calama                  1
Kalam√°ta                1
J≈´rmala                 1
Ulan Bator              1
Bastia Umbra            1
Gangtok                 1
Tula                    1
Shrewsbury              1
Mufalira                1
Waregem                 1
Mmabatho                1
Zell am See             1
Cluj                    1
Kertepe                 1
al-Hasa                 1
Herzliyya               1
Saint-Louis             1
Morne-√†-l'Eau           1
Samsun                  1
Oulu                    1
Name: match_city, Length: 1795, dtype: int64

In [71]:
d['match_city'].fillna('Kuala Lumpur',inplace=True)

In [72]:
d.isna().sum()

match_date          0
home_country        4
away_country        8
home_score          8
away_score          7
match_type          0
match_city          0
match_country       1
home_team_result    0
dtype: int64

In [73]:
d['home_country'].value_counts()

Brazil                       546
Argentina                    530
Germany                      487
Mexico                       480
England                      474
Sweden                       472
France                       459
Hungary                      443
Korea Republic               440
Italy                        432
Austria                      407
Netherlands                  403
Switzerland                  394
Belgium                      392
Denmark                      390
Norway                       387
Chile                        384
USA                          379
Poland                       369
Scotland                     368
Egypt                        366
Spain                        352
Kenya                        351
Japan                        348
Saudi Arabia                 335
Uruguay                      331
Malawi                       324
China                        323
Finland                      319
Romania                      318
                            ...
S√£o Tom√© and Pr√≠ncipe         17
South Sudan                   14
St Martin                     14
Kosovo                        13
Sint Maarten                  12
Bahamas                       12
Jersey                        11
Montserrat                    10
Guernsey                      10
Northern Mariana Islands      10
Tuvalu                         8
Northern Cyprus                8
Turks and Caicos Islands       6
Mayotte                        6
Saarland                       6
North Vietnam                  5
Kiribati                       5
Greenland                      5
Monaco                         4
Bonaire                        4
Taiwan                         3
Micronesia FS                  2
Yemen DPR                      2
Manchukuo                      2
Palau                          2
Niue                           2
Wallis Islands and Futuna      1
Nauru                          1
Cantabria                      1
St Pierre & Miquelon           1
Name: home_country, Length: 243, dtype: int64

In [74]:
d["home_country"].fillna("Brazil",inplace=True)

In [75]:
d.isna().sum()

match_date          0
home_country        0
away_country        8
home_score          8
away_score          7
match_type          0
match_city          0
match_country       1
home_team_result    0
dtype: int64

In [80]:
d['away_country'].value_counts()

Uruguay                      526
Sweden                       515
England                      499
Hungary                      465
Germany                      439
Paraguay                     438
Poland                       419
Argentina                    414
Finland                      402
Zambia                       401
Norway                       395
Brazil                       394
Scotland                     388
Russia                       383
Korea Republic               382
Switzerland                  379
Denmark                      379
Netherlands                  361
Bulgaria                     360
Romania                      356
Mexico                       351
Austria                      350
France                       349
Belgium                      349
Italy                        348
Chile                        347
Trinidad and Tobago          343
Peru                         325
Wales                        321
Uganda                       319
                            ...
Wallis Islands and Futuna     21
Samoa                         20
S√£o Tom√© and Pr√≠ncipe         20
American Samoa                20
St Martin                     20
Montserrat                    20
North Vietnam                 19
Bahamas                       15
Gibraltar                     15
Sint Maarten                  13
Mayotte                       12
Tuvalu                        12
Northern Mariana Islands      11
Turks and Caicos Islands      11
Guernsey                      10
Jersey                        10
South Sudan                   10
Bonaire                        9
Greenland                      6
Kosovo                         6
Kiribati                       6
St Pierre & Miquelon           6
Tibet                          6
Micronesia FS                  5
Northern Cyprus                3
Monaco                         3
Vatican                        3
Saarland                       3
Manchukuo                      1
St Barth√©lemy                  1
Name: away_country, Length: 243, dtype: int64

In [77]:
d["away_country"].fillna("Uruguay",inplace=True)

In [78]:
d.isna().sum()

match_date          0
home_country        0
away_country        0
home_score          8
away_score          7
match_type          0
match_city          0
match_country       1
home_team_result    0
dtype: int64

In [85]:
import sklearn

In [86]:
features=d.iloc[:,:-1].values
features

array([['1872-11-30', 'Scotland', 'England', ..., 'Friendly', 'Glasgow',
        'Scotland'],
       ['1873-03-08', 'England', 'Scotland', ..., 'Friendly', 'London',
        'England'],
       ['1874-03-07', 'Scotland', 'England', ..., 'Friendly', 'Glasgow',
        'Scotland'],
       ...,
       ['11/14/2017', 'Trinidad and Tobago', 'Guyana', ..., 'Friendly',
        'Couva', 'Trinidad and Tobago'],
       ['11/15/2017', 'Australia', 'Honduras', ...,
        'FIFA World Cup qualification', 'Sydney', 'Australia'],
       ['11/15/2017', 'Peru', 'New Zealand', ...,
        'FIFA World Cup qualification', 'Lima', 'Peru']], dtype=object)

In [87]:
from sklearn.preprocessing import Imputer
imputer=Imputer(missing_values='NaN',strategy='mean',axis=0)

In [88]:
imputer.fit(features[:,[3,4]])
features[:,[3,4]]=imputer.fit_transform(features[:,[3,4]])
features

array([['1872-11-30', 'Scotland', 'England', ..., 'Friendly', 'Glasgow',
        'Scotland'],
       ['1873-03-08', 'England', 'Scotland', ..., 'Friendly', 'London',
        'England'],
       ['1874-03-07', 'Scotland', 'England', ..., 'Friendly', 'Glasgow',
        'Scotland'],
       ...,
       ['11/14/2017', 'Trinidad and Tobago', 'Guyana', ..., 'Friendly',
        'Couva', 'Trinidad and Tobago'],
       ['11/15/2017', 'Australia', 'Honduras', ...,
        'FIFA World Cup qualification', 'Sydney', 'Australia'],
       ['11/15/2017', 'Peru', 'New Zealand', ...,
        'FIFA World Cup qualification', 'Lima', 'Peru']], dtype=object)

In [89]:
d.isna().sum()

match_date          0
home_country        0
away_country        0
home_score          8
away_score          7
match_type          0
match_city          0
match_country       1
home_team_result    0
dtype: int64

In [90]:
l=d['home_score'].mean()
a=d['away_score'].mean()

In [92]:
d["home_score"].fillna("l",inplace=True)
d["away_score"].fillna("a",inplace=True)

In [94]:
d.isna().sum()

match_date          0
home_country        0
away_country        0
home_score          0
away_score          0
match_type          0
match_city          0
match_country       1
home_team_result    0
dtype: int64